# Wine Spirit

Studying wines for a company

In [144]:
%load_ext autoreload
%autoreload 2

import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [145]:
erp_df = pd.read_excel("..\data\RAW\erp.xlsx")
liaison_df = pd.read_excel("..\data\RAW\liaison.xlsx")
web_df = pd.read_excel("..\data\RAW\web.xlsx")

C:\Users\simplon\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [146]:
print(len(erp_df), len(liaison_df), len(web_df))

825 825 1513

In [147]:
web_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1513 entries, 0 to 1512
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sku                    1428 non-null   object
 1   virtual                1513 non-null   int64
 2   downloadable           1513 non-null   int64
 3   rating_count           1513 non-null   int64
 4   average_rating         1430 non-null   float64
 5   total_sales            1430 non-null   float64
 6   tax_status             716 non-null    object
 7   tax_class              0 non-null      float64
 8   post_author            1430 non-null   float64
 9   post_date              1430 non-null   datetime64[ns]
 10  post_date_gmt          1430 non-null   datetime64[ns]
 11  post_content           0 non-null      float64
 12  post_title             1430 non-null   object
 13  post_excerpt           716 non-null    object
 14  post_status            1430 non-null   object
 15  comment_status         1430 non-null   object
 16  ping_status            1430 non-null   object
 17  post_password          0 non-null      float64
 18  post_name              1430 non-null   object
 19  post_modified          1430 non-null   datetime64[ns]
 20  post_modified_gmt      1430 non-null   datetime64[ns]
 21  post_content_filtered  0 non-null      float64
 22  post_parent            1430 non-null   float64
 23  guid                   1430 non-null   object
 24  menu_order             1430 non-null   float64
 25  post_type              1430 non-null   object
 26  post_mime_type         714 non-null    object
 27  comment_count          1430 non-null   float64
dtypes: datetime64[ns](4), float64(10), int64(3), object(11)
memory usage: 331.1+ KB

In [148]:
web_df.describe()

,virtual,downloadable,rating_count,average_rating,total_sales,tax_class,post_author,post_content,post_password,post_content_filtered,post_parent,menu_order,comment_count
count,1513.0,1513.0,1513.0,1430.0,1430.000000,0.0,1430.000000,0.0,0.0,0.0,1430.0,1430.0,1430.0
mean,0.0,0.0,0.0,0.0,4.006993,NaN,1.998601,NaN,NaN,NaN,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,8.510559,NaN,0.037385,NaN,NaN,NaN,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.000000,NaN,1.000000,NaN,NaN,NaN,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.000000,NaN,2.000000,NaN,NaN,NaN,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,1.000000,NaN,2.000000,NaN,NaN,NaN,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,4.000000,NaN,2.000000,NaN,NaN,NaN,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,96.000000,NaN,2.000000,NaN,NaN,NaN,0.0,0.0,0.0

In [149]:
web_df_clean = web_df.dropna(axis=1, how = 'all')

In [150]:
web_df_clean.describe()

,virtual,downloadable,rating_count,average_rating,total_sales,post_author,post_parent,menu_order,comment_count
count,1513.0,1513.0,1513.0,1430.0,1430.000000,1430.000000,1430.0,1430.0,1430.0
mean,0.0,0.0,0.0,0.0,4.006993,1.998601,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,8.510559,0.037385,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.000000,2.000000,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,1.000000,2.000000,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,4.000000,2.000000,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,96.000000,2.000000,0.0,0.0,0.0

In [151]:
web_df_clean = web_df_clean.drop(columns=['virtual', 'downloadable', 'rating_count', 'average_rating', 'post_parent', 'menu_order', 'comment_count'])

In [152]:
web_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1513 entries, 0 to 1512
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sku                1428 non-null   object
 1   total_sales        1430 non-null   float64
 2   tax_status         716 non-null    object
 3   post_author        1430 non-null   float64
 4   post_date          1430 non-null   datetime64[ns]
 5   post_date_gmt      1430 non-null   datetime64[ns]
 6   post_title         1430 non-null   object
 7   post_excerpt       716 non-null    object
 8   post_status        1430 non-null   object
 9   comment_status     1430 non-null   object
 10  ping_status        1430 non-null   object
 11  post_name          1430 non-null   object
 12  post_modified      1430 non-null   datetime64[ns]
 13  post_modified_gmt  1430 non-null   datetime64[ns]
 14  guid               1430 non-null   object
 15  post_type          1430 non-null   object
 16  post_mime_type     714 non-null    object
dtypes: datetime64[ns](4), float64(2), object(11)
memory usage: 201.1+ KB

In [153]:
web_df_clean.groupby('sku').head()

,sku,total_sales,tax_status,post_author,post_date,post_date_gmt,post_title,post_excerpt,post_status,comment_status,ping_status,post_name,post_modified,post_modified_gmt,guid,post_type,post_mime_type
0,bon-cadeau-25-euros,10.0,taxable,1.0,2018-06-01 13:53:46,2018-06-01 11:53:46,Bon cadeau de 25€,"<span style=""color: #a85253;""><strong>Parlons ...",publish,closed,closed,bon-cadeau-de-25-euros,2018-06-01 14:13:57,2018-06-01 12:13:57,https://www.wine-spirit.fr/?post_type=product&...,product,NaN
1,15298,6.0,taxable,2.0,2018-02-08 12:58:52,2018-02-08 11:58:52,Pierre Jean Villa Saint-Joseph Préface 2018,"Il exhale un nez subtil, racé avec du poivre f...",publish,closed,closed,pierre-jean-villa-saint-joseph-preface-2018,2019-12-30 09:30:29,2019-12-30 08:30:29,https://www.wine-spirit.fr/?post_type=product&...,product,NaN
2,15296,0.0,taxable,2.0,2018-02-08 13:49:41,2018-02-08 12:49:41,Pierre Jean Villa Saint-Joseph Rouge Tildé 2017,Les vieilles vignes lui apportent une rare pro...,publish,closed,closed,pierre-jean-villa-saint-joseph-tilde-2017,2019-12-21 09:00:17,2019-12-21 08:00:17,https://www.wine-spirit.fr/?post_type=product&...,product,NaN
3,15300,0.0,taxable,2.0,2018-02-08 14:08:36,2018-02-08 13:08:36,Pierre Jean Villa Crozes-Hermitage Accroche Co...,"Dentelle de fruit de jeunes syrah, aux tanins ...",publish,closed,closed,pierre-jean-villa-croze-hermitage-accroche-coe...,2020-06-26 18:15:03,2020-06-26 16:15:03,https://www.wine-spirit.fr/?post_type=product&...,product,NaN
4,19814,3.0,taxable,2.0,2018-02-09 14:01:05,2018-02-09 13:01:05,Pierre Jean Villa IGP Collines Rhodaniennes Ga...,Gamine représente tout le fruité et la gourman...,publish,closed,closed,pierre-jean-villa-igp-gamine-2018,2020-01-04 16:36:01,2020-01-04 15:36:01,https://www.wine-spirit.fr/?post_type=product&...,product,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1508,16135,5.0,NaN,2.0,2020-04-25 13:22:38,2020-04-25 11:22:38,Mouthes Le Bihan Côtes de Duras L'Aimé Chai 2015,NaN,publish,closed,closed,mouthes-le-bihan-aime-chai-2015,2020-08-26 17:35:03,2020-08-26 15:35:03,https://www.wine-spirit.fr/wp-content/uploads/...,attachment,image/jpeg
1509,15891,0.0,NaN,2.0,2020-05-02 14:53:40,2020-05-02 12:53:40,Camin Larredya Jurançon Sec La Virada 2018,NaN,publish,closed,closed,camin-larredya-jurancon-sec-la-virada-2018,2020-08-26 17:35:02,2020-08-26 15:35:02,https://www.wine-spirit.fr/wp-content/uploads/...,attachment,image/jpeg
1510,15887,0.0,NaN,2.0,2020-05-02 15:00:54,2020-05-02 13:00:54,Domaine Jamet Côte Rôtie Fructus Voluptas 2018,NaN,publish,closed,closed,jamet-cote-rotie-fructus-voluptas-2018,2020-08-14 18:15:03,2020-08-14 16:15:03,https://www.wine-spirit.fr/wp-content/uploads/...,attachment,image/jpeg
1511,13127-1,0.0,NaN,2.0,2020-06-09 15:42:04,2020-06-09 13:42:04,Clos du Mont-Olivet Châteauneuf-du-Pape 2007,NaN,publish,closed,closed,clos-du-mont-olivet-chateauneuf-du-pape-2007-2,2020-07-20 17:09:06,2020-07-20 15:09:06,https://www.wine-spirit.fr/wp-content/uploads/...,attachment,image/jpeg
1512,16230,0.0,NaN,2.0,2020-07-20 11:00:00,2020-07-20 09:00:00,Domaine Saint-Nicolas Vin de France Blanc Les ...,NaN,publish,closed,closed,domaine-saint-nicolas-fiefs-vendeens-blanc-les...,2020-08-13 10:45:03,2020-08-13 08:45:03,https://www.wine-spirit.fr/wp-content/uploads/...,attachment,image/jpeg

In [154]:
web_df_clean['sku'].str.contains("bon-cadeau-25-euros").sort_values()

797     False
1511    False
0        True
1209     True
1         NaN
        ...
1507      NaN
1508      NaN
1509      NaN
1510      NaN
1512      NaN
Name: sku, Length: 1513, dtype: object

In [155]:

pd.DataFrame((web_df_clean.iloc[0], web_df_clean.iloc[1209]))

,sku,total_sales,tax_status,post_author,post_date,post_date_gmt,post_title,post_excerpt,post_status,comment_status,ping_status,post_name,post_modified,post_modified_gmt,guid,post_type,post_mime_type
0,bon-cadeau-25-euros,10.0,taxable,1.0,2018-06-01 13:53:46,2018-06-01 11:53:46,Bon cadeau de 25€,"<span style=""color: #a85253;""><strong>Parlons ...",publish,closed,closed,bon-cadeau-de-25-euros,2018-06-01 14:13:57,2018-06-01 12:13:57,https://www.wine-spirit.fr/?post_type=product&...,product,NaN
1209,bon-cadeau-25-euros,10.0,NaN,1.0,2018-06-01 13:53:46,2018-06-01 11:53:46,Bon cadeau de 25€,NaN,publish,closed,closed,bon-cadeau-de-25-euros,2018-06-01 14:13:57,2018-06-01 12:13:57,https://www.wine-spirit.fr/wp-content/uploads/...,attachment,image/jpeg

In [156]:
web_clean = web_df_clean.drop_duplicates(subset='sku')

In [157]:
fusion_1 = erp_df.merge(liaison_df, on='product_id')
fusion_1

     product_id  onsale_web  price  stock_quantity stock_status   id_web
0          3847           1   24.2               0   outofstock    15298
1          3849           1   34.3               0   outofstock    15296
2          3850           1   20.8               0   outofstock    15300
3          4032           1   14.1               0   outofstock    19814
4          4039           1   46.0               0   outofstock    19815
..          ...         ...    ...             ...          ...      ...
820        7203           0   45.0              30      instock      NaN
821        7204           0   45.0               9      instock      NaN
822        7247           1   54.8              23      instock  13127-1
823        7329           0   26.5              14      instock  14680-1
824        7338           1   16.3              45      instock    16230

[825 rows x 6 columns]

In [158]:
fusion = fusion_1.merge(web_clean, left_on = ('id_web'), right_on = ('sku'))
len(fusion)

805

In [159]:
fusion.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 805 entries, 0 to 804
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         805 non-null    int64
 1   onsale_web         805 non-null    int64
 2   price              805 non-null    float64
 3   stock_quantity     805 non-null    int64
 4   stock_status       805 non-null    object
 5   id_web             714 non-null    object
 6   sku                714 non-null    object
 7   total_sales        714 non-null    float64
 8   tax_status         714 non-null    object
 9   post_author        714 non-null    float64
 10  post_date          714 non-null    datetime64[ns]
 11  post_date_gmt      714 non-null    datetime64[ns]
 12  post_title         714 non-null    object
 13  post_excerpt       714 non-null    object
 14  post_status        714 non-null    object
 15  comment_status     714 non-null    object
 16  ping_status        714 non-null    object
 17  post_name          714 non-null    object
 18  post_modified      714 non-null    datetime64[ns]
 19  post_modified_gmt  714 non-null    datetime64[ns]
 20  guid               714 non-null    object
 21  post_type          714 non-null    object
 22  post_mime_type     0 non-null      object
dtypes: datetime64[ns](4), float64(3), int64(3), object(13)
memory usage: 150.9+ KB